@media screen and (max-width: 768px) {
   
  }

/*
@media  (max-width: 320px) {
    html {
        font-size: 60.5%;
        color:red;
    }

}
    
@media (max-width: 275px) {
    html {
        font-size: 55%;
    }
}*/