@media screen and (max-width: 340px) {
  .sticky > h4 {
    white-space: normal;
    padding: 2px 15px;
  }
  * {
    font-size: 100%;
  }
}

@media screen and (max-width: 400px) {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .mainDiv {
    padding: 0rem, 5rem;
  }
  .carousel-item > img {
    max-width: 320px !important;
  }

  .image-gallery-wrapper {
    max-width: 330px !important;
  }

  .media-center {
    margin: auto !important;
  }

  .multimedia-gallery-wrapper {
    display: none;
  }

  .min-height500 {
    min-height: 350px !important;
  }

  .modal-dialog {
    margin: unset;
    margin: auto !important;
  }

  .modal {
    width: 98% !important;
  }

  label {
    display: none;
  }

  input,
  textarea {
    max-width: 92%;
  }
  .not_logged_in_resp {
    font-size: 130%;
  }

  .dropdown-menu {
    width: 100% !important;
    /*not realy working, but beller*/
  }

  .jumbotron,
  .media {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .toColumn1000 {
    flex-direction: column;
  }
}
